$color-primary: #ff7300;
$color-primary-light: #ff9925;
$color-primary-dark: #c34100;
$color-grey-light-1: #eeeeee;
$color-gray-dark: #939393;
$color-gray-dark-2: #717171;
$color-white: rgb(255, 255, 255);
$color-black: rgb(3, 3, 3);

$color-secondary-light: #91ea44;
$color-secondary-dark: #21bf7d;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//font size
$default-font-size: 1.6rem;
$default-font-size-small: 1.4rem; //grid
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;
$grid-height: 6rem;