.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, $alpha: 0.16);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        background-color: rgb(255, 140, 0);
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);

        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative
    }

    &__img {
        height: 100%;
        transform: translateX(2rem) scale(1.8) translateY(3rem);
        transition: all .5s ease;
        backface-visibility: hidden;



    }

    &__img--Was {
        height: 100%;
        transform: translateX(2rem) scale(1.4) translateY(1rem);
        transition: all .5s ease;
        backface-visibility: hidden;



    }


    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);

    }

    &:hover &__img {

        transform: translateX(2rem) scale(1.4) translateY(3rem);
        filter: blur(3px) brightness(80%);
    }

    &:hover &__img--Was {

        transform: translateX(2rem) scale(1.3) translateY(1rem);
        filter: blur(3px) brightness(80%);
    }
}